Object creation

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1,3,6,np.nan,44,1])
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [5]:
dates = pd.date_range('2018-08-19',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
print(df)

                   a         b         c         d
2018-08-19 -0.336191  0.908713  0.900618 -0.506703
2018-08-20 -0.695156 -0.159670 -0.723543  1.665234
2018-08-21  1.880351 -0.583239 -2.111410  2.025002
2018-08-22  0.696802  0.949726 -1.393779 -0.929979
2018-08-23  0.358180 -1.111214  2.819746  0.730879
2018-08-24 -1.404247 -0.845995 -0.994397 -0.240876

In [7]:
print(df['b'])

2018-08-19    0.908713
2018-08-20   -0.159670
2018-08-21   -0.583239
2018-08-22    0.949726
2018-08-23   -1.111214
2018-08-24   -0.845995
Freq: D, Name: b, dtype: float64

In [8]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
# 另一种方式
df2 = pd.DataFrame({
    'A': [1,2,3,4],
    'B': pd.Timestamp('20180819'),
    'C': pd.Series([1,6,9,10],dtype='float32'),
    'D': np.array([3] * 4,dtype='int32'),
    'E': pd.Categorical(['test','train','test','train']),
    'F': 'foo'
})
print(df2)

   A          B     C  D      E    F
0  1 2018-08-19   1.0  3   test  foo
1  2 2018-08-19   6.0  3  train  foo
2  3 2018-08-19   9.0  3   test  foo
3  4 2018-08-19  10.0  3  train  foo

In [10]:
print(df2.index)

RangeIndex(start=0, stop=4, step=1)

In [12]:
print(df2.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [13]:
print(df2.values)

[[1 Timestamp('2018-08-19 00:00:00') 1.0 3 'test' 'foo']
 [2 Timestamp('2018-08-19 00:00:00') 6.0 3 'train' 'foo']
 [3 Timestamp('2018-08-19 00:00:00') 9.0 3 'test' 'foo']
 [4 Timestamp('2018-08-19 00:00:00') 10.0 3 'train' 'foo']]

In [14]:
print(df2.describe())

              A          C    D
count  4.000000   4.000000  4.0
mean   2.500000   6.500000  3.0
std    1.290994   4.041452  0.0
min    1.000000   1.000000  3.0
25%    1.750000   4.750000  3.0
50%    2.500000   7.500000  3.0
75%    3.250000   9.250000  3.0
max    4.000000  10.000000  3.0

In [15]:
print(df2.T)

                     0                    1                    2  \
A                    1                    2                    3
B  2018-08-19 00:00:00  2018-08-19 00:00:00  2018-08-19 00:00:00
C                    1                    6                    9
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                    4
B  2018-08-19 00:00:00
C                   10
D                    3
E                train
F                  foo

In [16]:
'''
axis=1表示行
axis=0表示列
默认ascending(升序)为True
ascending=True表示升序,ascending=False表示降序
下面两行分别表示按行升序与按行降序
'''
print(df2.sort_index(axis=1,ascending=True))

   A          B     C  D      E    F
0  1 2018-08-19   1.0  3   test  foo
1  2 2018-08-19   6.0  3  train  foo
2  3 2018-08-19   9.0  3   test  foo
3  4 2018-08-19  10.0  3  train  foo

In [17]:
print(df2.sort_index(axis=1,ascending=False))

     F      E  D     C          B  A
0  foo   test  3   1.0 2018-08-19  1
1  foo  train  3   6.0 2018-08-19  2
2  foo   test  3   9.0 2018-08-19  3
3  foo  train  3  10.0 2018-08-19  4

In [18]:
# 表示按列降序与按列升序
print(df2.sort_index(axis=0,ascending=False))

   A          B     C  D      E    F
3  4 2018-08-19  10.0  3  train  foo
2  3 2018-08-19   9.0  3   test  foo
1  2 2018-08-19   6.0  3  train  foo
0  1 2018-08-19   1.0  3   test  foo

In [19]:
print(df2.sort_index(axis=0,ascending=True))

   A          B     C  D      E    F
0  1 2018-08-19   1.0  3   test  foo
1  2 2018-08-19   6.0  3  train  foo
2  3 2018-08-19   9.0  3   test  foo
3  4 2018-08-19  10.0  3  train  foo

In [20]:
# 对特定列数值排列
# 表示对C列降序排列
print(df2.sort_values(by='C',ascending=False))

   A          B     C  D      E    F
3  4 2018-08-19  10.0  3  train  foo
2  3 2018-08-19   9.0  3   test  foo
1  2 2018-08-19   6.0  3  train  foo
0  1 2018-08-19   1.0  3   test  foo

In [22]:
import pandas as pd
import numpy as np
dates = pd.date_range('20180819', periods=6)
df3 = pd.DataFrame(np.arange(24).reshape((6,4)),index = dates,columns=['A','B','C','D'])
print(df3)

             A   B   C   D
2018-08-19   0   1   2   3
2018-08-20   4   5   6   7
2018-08-21   8   9  10  11
2018-08-22  12  13  14  15
2018-08-23  16  17  18  19
2018-08-24  20  21  22  23

In [24]:
# 检索A列
print(df3['A'])

2018-08-19     0
2018-08-20     4
2018-08-21     8
2018-08-22    12
2018-08-23    16
2018-08-24    20
Freq: D, Name: A, dtype: int32

In [26]:
print(df3.A)

2018-08-19     0
2018-08-20     4
2018-08-21     8
2018-08-22    12
2018-08-23    16
2018-08-24    20
Freq: D, Name: A, dtype: int32

In [27]:
# 选择跨越多行或多列
# 选取前3行
print(df3[0:3])

            A  B   C   D
2018-08-19  0  1   2   3
2018-08-20  4  5   6   7
2018-08-21  8  9  10  11

In [28]:
print(df3['2018-08-19':'2018-08-21'])

            A  B   C   D
2018-08-19  0  1   2   3
2018-08-20  4  5   6   7
2018-08-21  8  9  10  11

In [29]:
# 根据标签选择数据
# 获取特定行或列
# 指定行数据
print(df3.loc['20180819'])

A    0
B    1
C    2
D    3
Name: 2018-08-19 00:00:00, dtype: int32

In [30]:
# 指定列
# 两种方式
print(df3.loc[:,'A':'B'])

             A   B
2018-08-19   0   1
2018-08-20   4   5
2018-08-21   8   9
2018-08-22  12  13
2018-08-23  16  17
2018-08-24  20  21

In [31]:
print(df3.loc[:,['A','B']])

             A   B
2018-08-19   0   1
2018-08-20   4   5
2018-08-21   8   9
2018-08-22  12  13
2018-08-23  16  17
2018-08-24  20  21

In [32]:
print(df3.loc['20180819',['A','B']])

A    0
B    1
Name: 2018-08-19 00:00:00, dtype: int32

In [34]:
print(df.iloc[3,1])

0.9497261848385706

In [35]:
print(df.iloc[3:5,1:3])

                   b         c
2018-08-22  0.949726 -1.393779
2018-08-23 -1.111214  2.819746

In [36]:
print(df.iloc[[1,3,5],1:3])

                   b         c
2018-08-20 -0.159670 -0.723543
2018-08-22  0.949726 -1.393779
2018-08-24 -0.845995 -0.994397

In [38]:
print(df3.ix[:3,['A','B']])

            A  B
2018-08-19  0  1
2018-08-20  4  5
2018-08-21  8  9

D:\dev_software\Anaconda3\envs\MyEnvs\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [41]:
print(df3.iloc[:3,[0,2]])

            A   C
2018-08-19  0   2
2018-08-20  4   6
2018-08-21  8  10

In [42]:
print(df3.A>8)

2018-08-19    False
2018-08-20    False
2018-08-21    False
2018-08-22     True
2018-08-23     True
2018-08-24     True
Freq: D, Name: A, dtype: bool

In [44]:
print(df3.loc[df3.A>8])

             A   B   C   D
2018-08-22  12  13  14  15
2018-08-23  16  17  18  19
2018-08-24  20  21  22  23